@import 'jeet/index';
@import 'lib';
@import 'regions';
@import 'pages';

body {
    
  font-family: 'Roboto Slab', serif;
  
  margin: 0 1rem;
  padding-top: $header-height;
  @include breakpoint(sm) {
      max-width: 75%;
      position: relative;
      margin: 0 auto;
  }
}

.content {
  padding-top: 2rem;
}

p {
  line-height: 1.5;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    font-family: 'Roboto', sans-serif;
}

.link {
    color: $text-color;
    text-decoration: none;

    &.twitter {
        color: $twitter;
    }

    &.github {
        color: $github;
    }

    &.linkedin {
        color: $linkedin;
    }

    &.facebook {
        color: $facebook;
    }
}

.about-me {
    p {
        color: $light-gray;
    }

    padding-top: 1rem;
    @include breakpoint(sm) {
        padding-top: 3rem;
    }
}