$header-height: 3rem;

.header {
    padding-top: 2rem;
    width: 100%;
    height: $header-height;
    a {
	text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
        font-size: 1.5rem;
        color: black;
        &:hover, &:visited, &:focused {
          color: black;
        }
    }

    &__logo {
	@include col(1/3); //TODO: split into two columns etc
	line-height: $header-height;
    }

    &__menu {
	@include col(2/3);
	&__list {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    text-align: right;
	    li {
		line-height: $header-height;
		display: inline;
                a {
		  color: #666;
                  &:hover, &:visited, &:focused {
                      color: #666;
                   }
                }
	    }

	    li + li {
		margin-left: 1rem;
	    }
	}
    }
}


